* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}

body {
  color: rgb(98, 241, 141);
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBJnc0x_Y9mXs2dFQX5aVJ8XeNR_A1wofr7g&usqp=CAU");
  display: grid;
  grid-template-areas:
    "nav   nav  nav  nav"
    "sidel head head sider"
    "sidel body body sider"
    "sidel mess mess sider"
    "foot  foot foot foot";
  grid-column-gap: 1.5em;
  grid-template-rows: 25px 0.3fr fr 25px;
  grid-template-columns: 1fr 4fr 1fr;
}
body a {
  text-decoration: none;
}

nav {
  grid-area: nav;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  background: rgb(245, 241, 34, 0.75);
  padding-top: 6px;
}
nav a {
  transition: all 0.3s ease 0s;
}

nav a:hover {
  color: aliceblue;
}

#pkmnbody {
  grid-area: body;
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
}

#header {
  grid-area: head;
  text-align: center;
  padding-top: 75px;
}

h1 a {
  font-size: 60px;
  font-family: "Pokemon Hollow", "Press Start 2P", Arial, Helvetica, sans-serif;
  transition: all 0.8s ease 0s;
  color: rgb(252, 255, 240);
}
h1 a:hover {
  color: rgb(252, 255, 43);
}

h1::first-letter {
  color: rgba(248, 252, 7, 0.7);
  font-size: 100px;
}

#pokesideleft {
  grid-area: sidel;
  height: 100%;
  width: 190px;
  background: rgb(220, 20, 60, 0.75);
}
#charizard {
  grid-area: sidel;
  /* display:inline-block; */
  height: 200px;
  width: 200px;
  padding-top: 50vh;
}

#pokesideright {
  grid-area: sider;
  height: 100%;
  background-color: rgb(39, 24, 138, 0.75);
}

#pokesideright img {
  height: 200px;
  width: 200px;
  padding-top: 50vh;
  padding-right: 0;
}

.cardgrid {
  grid-area: body;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 400px;
}

.cardgrid img {
  padding: 5px 5px 5px 5px;
}

.cardgrid img:hover {
  animation: shake 0.8s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

body p {
  text-align: center;
  padding-bottom: 25px;
  padding-left: 20%;
}
#numcaught {
  grid-area: mess;
  text-align: center;
}
#congrats {
  grid-area: mess;
  text-align: center;
}
#buy-pokeballs {
  padding: 2px 2px 2px 2px;
}
footer {
  grid-area: foot;
  color: black;
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  height: max-content;
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  width: 100vw;
  margin: 0 auto;
}
footer div {
  padding-top: 5px;
}
#pikachu {
  height: 25px;
  width: 30px;
  padding-left: 600px;
}
#pikachutoo {
  height: 25px;
  width: 30px;
  padding-right: 3px;
}
#pikachuthree {
  height: 25px;
  width: 30px;
  padding-right: 16px;
}
